.link-box{
  display: none !important;  
}
@media print {
   .link-box{
    display: none !important;
   } 
}
.rlink-row{
  display: none !important;  
}
@media print {
   .rlink-row{
    display: none !important;
   } 
}