.link-box{
  display: none !important;  
}
@media print {
   .link-box{
    display: none !important;
   } 
}
.rlink-row{
  display: none !important;  
}
@media print {
   .rlink-row{
    display: none !important;
   } 
}
.ssk-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #2563EB;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.ssk-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}