.link-box{
  display: none !important;  
}
@media print {
   .link-box{
    display: none !important;
   } 
}
.rlink-row{
  display: none !important;  
}
@media print {
   .rlink-row{
    display: none !important;
   } 
}
#adminBtn{
  position:fixed;
  bottom:20px;
  right:20px;
  width:60px;
  height:60px;
  border:none;
  border-radius:50%;
  background:#000;
  color:#fff;
  font-size:24px;
  cursor:pointer;
  z-index:9999;
}

#adminPanel{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  z-index:9999;
  display:flex;
  justify-content:center;
  align-items:center;
}

.admin-box{
  background:#fff;
  padding:20px;
  width:90%;
  max-height:80%;
  overflow:auto;
}
@media print {
  button {
    display: none !important;
  }
}